@media(max-width: 1200px){
	.vendors-list .col-md-3 {
	    -ms-flex: 0 0 33.33%;
	    flex: 0 0 33.33%;
	    max-width: 33.33%;
	}
}

@media(max-width: 991px){
	.banner-container .container{
		min-height: 400px;
	}
	.form-container h1{
		font-size: 48px;
	}
	.form-container h2{
		font-size: 26px;
		width: 550px;
		margin: 0 auto;
	}
	.about-container{
		padding: 30px 0;
	}
	.about-container h3{
		font-size: 38px;
	}
	.about-container h4{
		font-size: 22px;
	}
	.vendor-container .col-md-4{
		-ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
	}
	.vendors-list .col-md-3 {
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
	}
}

@media(max-width: 767px){
	.banner-container .container{
		min-height: 340px;
	}
	.form-container h1{
		font-size: 40px;
	}
	.form-container h1 br{
		display: none;
	}
	.form-container h2{
		font-size: 22px;
		width: 100%;
	}
	.about-container{
		padding: 30px 0;
	}
	.about-container h3{
		font-size: 32px;
	}
	.about-container h4{
		font-size: 18px;
	}
	.main{
		padding: 45px 0 25px;
	}
	.page-title{
		font-size: 32px;
	}
	.main h2{
		font-size: 22px;
	}
	.main h3{
		font-size: 16px;
	}
	.tracking-container iframe{
		height: 420px;
	}
}

@media(max-width: 643px){
	*{
		font-size: 12px;
	}
	.banner-container .container{
		min-height: 280px;
	}
	.form-container h1{
		font-size: 34px;
	}
	.form-container h2{
		font-size: 20px;
	}
	.about-container{
		padding: 20px 0;
	}
	.about-container h3{
		font-size: 28px;
	}
	.about-container h4{
		font-size: 16px;
	}
	.vendor-container{
		padding: 30px 0 20px;
	}
	.vendor-container a{
		min-height: 50px;
	}
	.main{
		padding: 30px 0 10px;
	}
	.page-title{
		font-size: 26px;
	}
	.main h2{
		font-size: 18px;
	}
	.main h3{
		font-size: 14px;
	}
	.not-found-contents{
		padding: 10px 15px;
	}
	.not-found-contents p{
		font-size: 16px;
	}
	.not-found-header h1{
		font-size: 180px;
		margin-bottom: -10px;
	}
	.not-found-header h3{
		font-size: 32px;
		margin: -15px 0 0;
	}
}

@media(max-width: 520px){
	.vendors-list .col-md-3 {
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}
}

@media(max-width: 480px){
	.banner-container .container{
		min-height: 230px;
	}
	.form-container h1{
		font-size: 30px;
	}
	.form-container h2{
		font-size: 18px;
	}
	.about-container h3{
		font-size: 24px;
	}
	.about-container h4{
		font-size: 14px;
	}
	.vendor-container .col-md-4{
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}
	.tracking-container iframe{
		height: 350px;
	}
	.not-found-contents p{
		font-size: 12px;
	}
	.not-found-header h1{
		font-size: 120px;
		margin-bottom: 0;
	}
	.not-found-header h3{
		font-size: 18px;
		padding: 3px 0;
		margin: -12px 0 0;
	}
}

@media(max-width: 420px){
	.form-container h1{
		font-size: 28px;
	}
}

@media(max-width: 360px){
	.form-container h1{
		font-size: 25px;
	}
	.about-container h3{
		font-size: 20px;
	}
	.page-title{
		font-size: 22px;
	}
}